
body {
    color: rgba(247, 178, 50, 0.733);
    background: rgb(165, 70, 15); 
    margin: 0px;
}

header {

border-bottom: solid 3px rgb(228, 118, 28);
padding-left: 21px;
color: rgb(179, 86, 33);
font-size: 31px;
background:rgb(204, 193, 193);

}